.row {
  background-color: #333;
}

.lable {
  color: aliceblue;
}

.position {
  position: relative;
  left: 95px;
}

.logo {
  display: inline-block;
  background-image: url(./img/sprite.png);
  background-repeat: no-repeat;
  background-size: 120px auto; 
  background-position: 17px -51px;
}

.header {
  background-color: #191919;
}

.footer {
  height: 70px;
  background-color: #191919;
  color: aliceblue;
}

.moviesItem {
  color: aliceblue;
}